:root {
  --dark-blue: #0d1f2d;
  --light-blue: #546a7b;
  --sepia: #EBD3AD;
  --light-grey: #9EA3B0;
  --wine: #6A2E35;
  --min-padding: 15px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-grey);


  line-height: 1.6;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Header animations */
.header {
  z-index: 1;
  background-color: var(--primary-background);
  height: 70px;
  align-items: center;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow:  5px 5px 10px var(--primary-box-shadow),
  -5px -5px 10px var(--secondary-box-shadow);
}
.header-name {
  font-size: 3rem;
  color: var(--primary-text);
  margin-left: 25px;
}
main {
  min-height: 75vh;
  margin-top: 70px;
}
.text-input-1line {
  display: block;
  max-width: 400px;
  padding-left: 5px;
}
.text-input-label {
  padding-left: 5px;
}
.textarea-input {
  display: block;
  max-width: 750px;
  min-width: 80%;
  padding-left: 5px;
}
button {
  outline: transparent;
  border: solid transparent 1px;
}
.contact-btn {
  max-width: 150px;
  margin-top: 25px;
}





#name-title {
  color: var(--primary-text);
  /* text-align: center; */
  /* left: 0;  */
  /* right: 0;  */
  margin-left: 100px;
  /* margin-right: auto; */
  font-size: 70px;
  /* width: 400px; */
  padding-top: 80px;
  background-color: transparent;
  position: absolute;
}
#name-svg {
  position: absolute;
  width: 50%;
  margin-left: 100px;
  margin-top: -50px;
  /* padding-top: 30px; */
}
@media (max-width: 1150px) {
  #name-svg {
    margin-top: -150px;
  }
}
@media (max-width: 780px) {
  #name-svg {
    margin-top: -180px;
  }
}
@media (max-width: 500px) {
  #name-svg {
    margin-top: -220px;
  }
}
#name-component {
  /* margin-top: -50px; */
  /* top: 0; */
}
#name-svg path {
  fill: transparent;
  stroke: var(--primary-text);
}
#name-svg path:nth-child(1) {
  stroke-dasharray: 84.85px;
  stroke-dashoffset: 84.85px;
  animation: stroke-anim 1s forwards ease-in-out .2s;
}
#name-svg path:nth-child(2) {
  stroke-dasharray: 55.13;
  stroke-dashoffset: 55.13;
  animation: stroke-anim 1s forwards ease-in-out .4s;
}
#name-svg path:nth-child(3) {
  stroke-dasharray: 62.879;
  stroke-dashoffset: 62.879;
  animation: stroke-anim 1s forwards ease-in-out .6s;
}
#name-svg path:nth-child(4) {
  stroke-dasharray: 66.639;
  stroke-dashoffset: 66.639;
  animation: stroke-anim 1s forwards ease-in-out .8s;
}
#name-svg path:nth-child(5) {
  stroke-dasharray: 79.08;
  stroke-dashoffset: 79.08;
  animation: stroke-anim 1s forwards ease-in-out 1.0s;
}
#name-svg path:nth-child(6) {
  stroke-dasharray: 58.708;
  stroke-dashoffset: 58.708;
  animation: stroke-anim 1s forwards ease-in-out 1.2s;
}
#name-svg path:nth-child(7) {
  stroke-dasharray: 47.44;
  stroke-dashoffset: 47.44;
  animation: stroke-anim 1s forwards ease-in-out 1.4s;
}
#name-svg path:nth-child(8) {
  stroke-dasharray: 47.44;
  stroke-dashoffset: 47.44;
  animation: stroke-anim 1s forwards ease-in-out 1.6s;
}

@keyframes stroke-anim {
  to {
    stroke-dashoffset: 0;
    fill: var(--primary-text);
  }
}


.text {
  text-align: center;
  color: var(--primary-text);
  font-size: 30px;
}
.container {
  overflow: hidden;
}
#svg-mtns {
  z-index: -1;
  /* position: relative; */
  /* position: absolute; */
  overflow: visible;
  /* width: 110%; */
  background-color: #D7E2EF;
}
.under-lake {
  background-image: linear-gradient(to bottom, #22544c, #51787d, #899ea8, #c0c5cd, #f1f1f1);  
  /* height: 100vh; */
  /* height: 550px; */
  margin-top: 0px;
  padding-left: var(--min-padding);
  padding-right: var(--min-padding);
  padding-top: 20px;
}
.post-text {
  color: var(--primary-text);
  text-align: center;
  font-size: 50px;
  margin-top: -2px;
  padding-top: 50px;
}
.text-card {
  max-width: 85ch;
  /* max-width: 900px; */
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 30px;
  background-color: var(--primary-background);
  box-shadow:  2px 2px 4px var(--primary-box-shadow),
             -2px -2px 4px var(--secondary-box-shadow);
}
.contact-form {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
#contact-background {
  padding-top: 50px;
  background-image: linear-gradient(to bottom, #22544c, #51787d, #899ea8, #c0c5cd, #f1f1f1);  
  margin-top: 0;
}
.projects-wrapper {
  padding-left: var(--min-padding);
  padding-right: var(--min-padding);
  padding-top: 50px;
  background-image: linear-gradient(to bottom, #22544c, #51787d, #899ea8, #c0c5cd, #f1f1f1);}
.nh-icon {
  margin-left: 20px;
}
.footer {
  margin-bottom: 20px;
  margin-left: auto;
  text-align: center;
}

